*{
    margin: 0;
    padding: 0;
}
.container2{
   width: 100%;
    background-image: url(about\ pic.png);
    background-position: center;
    background-size: cover;
    height: 130vh;
}
.navbar2{
    width: 100%;
    height: 95px;
    margin: auto;
    background-color: black;
    position: fixed;
    z-index: 1;
}
.icon2{
    width: 200px;
    float: left;
    height: 70px;
}
.logo2{
    width: 90px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 100px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 65px;
    margin-top: 40px;
    list-style: none;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: red;
}

.search2{
    width: 330px;
    float: left;
    margin-left: 280px;
    margin-top: 25px;
}
.srch2{
    width: 230px;
    height: 40px;
    background: transparent;
    border: 1px solid red;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.button3{
    border: 1px solid red;
    padding-left: 20px;
    background-color: red;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 11px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button:focus{
    outline: none;
}
.search:focus{
    outline: none;
}

.contant{
    width: 1200px;
    height: auto;
    text-align: center;
    color: white;
    position: relative;
    float: left;
    margin-top: 60px;
    margin-left: 60px;
}

 .contant h1{
    font-size: 68px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-top: 7%;
    color: red;
}



.main1{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(#1c2122, #748284);
    position: relative;
}
.container2{
    align-items: center;
    width: 100%;
}
.car1{
    float: left;
    margin-top: 80px;
    margin-left: 30px;
    display: flex;
}
.carh1{
    align-content: center;
    text-align: left;
   padding: 140px 150px 0 0;
   line-height: 35px;
   float: right;
   font-size: 35px;
   font-weight: bolder;
   font-family: Georgia;
   color: red;
}
.carp1{
    align-content: center;
    text-align: left;
    padding: 40px 70px 0 0; 
    float: right;
    line-height: 25px;
    font-size: 16px;
    font-weight: lighter;
    font-family: arial;
    color: white;
}

.main2{
    width: 100%;
    height: 100vh;
    background: #748284;
    position: relative;
}
.container3{
    width: 100%;
    height: auto;
    align-items: center;
}
.carh3{
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 60px;
    color: white;
}

.carp2{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 20px;
    color: white;
}


.box1{
    width: 300px;
    height: 250px;
    float: left;
    margin: 50px 0 0 160px;
    align-items: center;
    text-align: center;
    position: absolute;
}
.box-pic{
    width: 150px;
    padding: -10px 10px 0 10px;
}
.box-p{
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.box2{
    width: 300px;
    height: 250px;
    float: left;
    margin: 50px 0 0 530px;
    align-items: center;
    text-align: center;
    position: absolute;
}
.box-pic{
    width: 150px;
    padding: -10px 10px px 10px;
}
.box-p{
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}


.box3{
    width: 300px;
    height: 250px;
    float: left;
    margin: 50px 0 0 900px;
    align-items: center;
    text-align: center;
    position: absolute;
}
.box-pic{
    width: 150px;
    padding: -10px 10px px 10px;
}
.box-p{
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}


.main3{
    width: 100%;
    height: 180vh;
    position: relative;
    background: #1c2122;
}
.boxs1{
    width: 100%;
    height: 870px;
    position: absolute;
    margin-top: 180px;
    margin-bottom: 100px;
    box-sizing: border-box;
}
.content4{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
}
.box-had{
    color: white;
    margin-top: -120px;
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
}
.box-para{
    color: white;
    margin-top: 20px;
    font-family: arial;
}
.box-1{
    position: absolute;
    width: 350px;
    height: 330px;
    border: none;
    float: left;
    left: 100px;
    top: 80px;
    background: #748284;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s;
}
.box-1:hover{
    transform: scale(1.1);
}
.box-icon{
    width: 60px;
    margin: 40px 0 20px 140px;
}
.box-h1{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.box-p1{
    text-align: center;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.box-but1{
    margin-left: 101px;
    margin-top: 25px;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 50px; 
}
.box-but1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.box-but1:hover{
    background: blue;
}


.box-2{
    position: absolute;
    width: 350px;
    height: 330px;
    border: none;
    float: left;
    left: 500px;
    top: 80px;
    background: #748284;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s;
}
.box-2:hover{
    transform: scale(1.1);
}   
.box-icon2{
    width: 60px;
    margin: 40px 0 20px 140px;
}
.box-h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.box-p2{
    text-align: center;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.box-but2{
    margin-left: 101px;
    margin-top: 25px;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 50px; 
}
.box-but2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.box-but2:hover{
    background: blue;
}

.box-3{
    position: absolute;
    width: 350px;
    height: 330px;
    border: none;
    float: left;
    left: 900px;
    top: 80px;
    background: #748284;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s;
}
.box-3:hover{
    transform: scale(1.1);
}

.box-icon3{
    width: 60px;
    margin: 40px 0 20px 140px;
}
.box-h3{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.box-p3{
    text-align: center;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.box-but3{
    margin-left: 101px;
    margin-top: 25px;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 50px; 
}
.box-but3 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.box-but3:hover{
    background: blue;
}



.box4{
    position: absolute;
    width: 350px;
    height: 330px;
    border: none;
    float: left;
    left: 100px;
    top: 480px;
    background: #748284;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s;
}
.box4:hover{
    transform: scale(1.1);
}
.box-icon4{
    width: 60px;
    margin: 40px 0 20px 140px;
}
.box-h4{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.box-p4{
    text-align: center;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.box-but4{
    margin-left: 101px;
    margin-top: 25px;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 50px; 
}
.box-but4 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.box-but4:hover{
    background: blue;
}


.box5{
    position: absolute;
    width: 350px;
    height: 330px;
    border: none;
    float: left;
    left: 500px;
    top: 480px;
    background: #748284;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s;
}
.box5:hover{
    transform: scale(1.1);
}
.box-icon5{
    width: 60px;
    margin: 40px 0 20px 140px;
}
.box-h5{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.box-p5{
    text-align: center;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.box-but5{
    margin-left: 101px;
    margin-top: 25px;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 50px;
     
}
.box-but5 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.box-but5:hover{
    background: blue;
}


.box6{
    position: absolute;
    width: 350px;
    height: 330px;
    border: none;
    float: left;
    left: 900px;
    top: 480px;
    background: #748284;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s;
}
.box6:hover{
    transform: scale(1.1);
}
.box-icon6{
    width: 60px;
    margin: 40px 0 20px 140px;
}
.box-h6{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.box-p6{
    text-align: center;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.box-but6{
    margin-left: 101px;
    margin-top: 25px;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 1px solid blue ;
    border-radius: 50px; 
}
.box-but6 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.box-but6:hover{
    background: blue;
}



.footer-container{
    width: 100%;
    height: 50vh;
}
.footer2{
    width: 100%;
    background: black;
    height: 70vh;
}
.footer-img{
    width: 110px;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
}
.footerh3{
    padding-top: 170px;
    margin-right: 930px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
}
.footerp3{
    text-align: center;
    padding-top: 20px;
    color: white;
    margin-right: 910px;
}
.footerb2{
    width: 10%;
    height: 40px;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    text-align: center;
    align-content: center;
    background: white;
    color: red;
}
.footerb2:hover{
    background: red;
    color: white;
}
.footerb2 a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}



.footer-menu2{
    margin-left: 500px;
    width: 400px;
    height: 100px;
    margin-top: -300PX;
}
ol{
    justify-content: center;
    align-items: center;
    float: left;
    display: list-item;
    list-style: none;

}
ol li{
    list-style: none;
    padding-bottom: 40px;
}
ol li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.8ms;
}
ol li a:hover{
    color: red;
}

.footer-menu3{
    margin-left: 750px;
    width: 400px;
    height: 100px;
    margin-top: -300PX;
}
ol{
    justify-content: center;
    align-items: center;
    float: left;
    display: list-item;
    list-style: none;

}
ol li{
    list-style: none;
    padding-bottom: 40px;
}
ol li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.8ms;
}
ol li a:hover{
    color: red;
}


.srch3{
    margin-left: 950px;
    margin-top: 50px;    
}
.last00{
    width: 250px;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid red;
    background: transparent;
}
::placeholder{
    color: white;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

.footerb3{
    height: 49px;
    border: 2px solid red;
    background: transparent;
    color: white;
    width: 90px;
    margin-left: -6px;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.footerb3:hover{
    background: red;
}


.footer-about{
    margin-left: 950px;
    margin-top: 100px;
}
.last2{
    font-size: 35px;
    color: white; 
    font-weight: bold;
}
.last3{
    padding-top: 30px;
    margin-left: -60px;
    text-align: center;
    align-content: center;
    color: white;
}
