*{
    margin: 0;
    padding: 0;
}
.main{
   width: 100%;
    background-image: linear-gradient(to top, rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%), url(bakground.jpg);
    background-position: center;
    background-size: cover;
    height: 130vh;
}
.navbar{
    width: 1350px;
    height: 95px;
    margin: auto;
    background-color: black;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    width: 90px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 65px;
    margin-top: 40px;
    list-style: none;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: red;
}
.search{
    width: 330px;
    float: left;
    margin-left: 280px;
    margin-top: 25px;
}
.srch{
    width: 230px;
    height: 40px;
    background: transparent;
    border: 1px solid red;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.button{
    border: 1px solid red;
    padding-left: 20px;
    background-color: red;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 11px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button:focus{
    outline: none;
}
.search:focus{
    outline: none;
}

.contant{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

 .contant h1{
    font-size: 68px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-top: 7%;
}
.contant .pag{
    padding-left: 25px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 20px;
}

.contant .bu{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 25px;
    transition: .4s ease;
}

.contant .bu a{
    color: black;
    text-decoration: none;
    transition: .3s ease;
}

.bu:hover{
    background-color: red;

}

.contant span{
    color: red;
    font-size: 75px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 50px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    text-align: center;
    color: red;
    font-size: 35px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    margin-top: 30px;
    border-bottom: 1px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
}
.contant input:focus{
    outline: none;
}
::placeholder{
    color: white;
}


