*{
    margin: 0;
    padding: 0;
}
.main{
   width: 100%;
    background-image: linear-gradient(to top, rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%), url(bakground.jpg);
    background-position: center;
    background-size: cover;
    height: 130vh;
}
.navbar{
    width: 1350px;
    height: 90px;
    margin: auto;
    background-color: black;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    width: 90px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 65px;
    margin-top: 40px;
    list-style: none;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
}